In [3]:
import pandas as pd

In [7]:
diamonds_train =  pd.read_csv('train.csv')

In [8]:
diamonds_train.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   0.53  Very Good     G     SI1   63.4   54.0  5.09  5.13  3.24  7.057
1   1   0.41      Ideal     D     SI1   63.0   56.0  4.80  4.75  3.01  6.824
2   2   0.32      Ideal     I     VS2   61.6   56.0  4.37  4.39  2.70  6.107
3   3   0.31      Ideal     H    VVS2   61.2   56.0  4.34  4.37  2.66  6.390
4   4   1.35    Premium     J     VS2   60.5   56.0  7.19  7.12  4.33  8.741

In [9]:
diamonds_train.corr()

,id,carat,depth,table,x,y,z,price
id,1.000000,-0.006186,-0.002316,-0.010840,-0.005675,-0.004038,-0.005649,-0.004040
carat,-0.006186,1.000000,0.025261,0.182888,0.974744,0.950639,0.948895,0.920846
depth,-0.002316,0.025261,1.000000,-0.298380,-0.028188,-0.032829,0.091738,-0.000533
table,-0.010840,0.182888,-0.298380,1.000000,0.197226,0.185480,0.150606,0.159950
x,-0.005675,0.974744,-0.028188,0.197226,1.000000,0.973473,0.966374,0.957934
y,-0.004038,0.950639,-0.032829,0.185480,0.973473,1.000000,0.946517,0.934832
z,-0.005649,0.948895,0.091738,0.150606,0.966374,0.946517,1.000000,0.931147
price,-0.004040,0.920846,-0.000533,0.159950,0.957934,0.934832,0.931147,1.000000